/*
1. Posicionamiento 
2. Modelo de caja (box model)
3. Tipografía
4. Estilos visuales (border-radius, etc)
5. miscelaneo o otros
*/

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white:  #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*Empieza el header*/
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-bottom: 25px;
}

.header__title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__button {
    position: absolute;
    top: 270px;
    left: calc(50% - 120px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--off-white);
    color: var(--warm-black);
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

/*Inicio sección 1 */
.main-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 80px 0 30px;
    text-align: center;
}

.main-container__BitcoinImg {
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/*Inicio titulo y subtitulo de esta sección*/
.title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-container__title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-container__title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/*Inicio de las tablas de esta sección*/
.exchange-table {
    width: 220px;
    margin: 15px auto 0;
}

.exchange-table__title {
    text-align: start;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.exchange-table__title--blue {
    color: var(--secondary-blue);
}

.exchange-table__container {
    display: grid;
    grid-template-columns: 110px 110px;
    grid-template-rows: repeat(4, 40px);
    grid-auto-flow: column;
    gap:  1px;
    margin: 15px 0px;
    font-family: 'inter';
    text-align: start;
    background-color: var(--off-white);
}

/*Inicio contenido de las tablas*/
.exchange-table__item {
    padding: 10px 12px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    background-color: var(--just-white);
    color: #b5b0ac;
}

.exchange-table__item:nth-child(1) {
    border-radius: 15px 0 0 0;
}

.exchange-table__item:nth-child(4) {
    border-radius: 0 0 0 15px;
}

.exchange-table__value {
    padding: 10px 12px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    background-color: var(--just-white);
    color: #757575;
}

.exchange-table__value:nth-child(5) {
    border-radius: 0 15px 0 0;
}

.exchange-table__value:nth-child(8) {
    border-radius: 0 0 15px 0;
}

.exchange-table__value span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.exchange-table__value--down {
    background-image: url('./assets/icons/trending-down.svg');
}

.exchange-table__value--up {
    background-image: url('./assets/icons/trending-up.svg');

}
/*Aquí termina el contenido de las tablas*/

.main-container__exchange-date {
    width: 190px;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.main-container__exchange-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

/*Inicio seccion 2*/
.product-detail {
    position: relative;
    background-color: var(--warm-black);
}

.product-detail__img {
    display: inline-block;
    position: absolute;
    top: -12.5px;
    left: calc(50% - 18.72px);
    width: 38px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/icons/batata.svg');
}

.product-detail__title h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail__title p {
    margin: 20px 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080; 
}

.product-detail__cards-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 40px 0;
}

.product-detail__card {
    width: 288px;
    height: auto;
    min-height: 152px;
    margin: 15px auto;  
    padding: 12px;
    text-align: start;
    background-color: var(--warm-black-1);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail__card-img {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-img--clock {
    background-image: url('./assets/icons/clock.svg');
}

.card-img--eye {
    background-image: url('./assets/icons/eye.svg');
}

.card-img--dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.card-img--check {
    background-image: url('./assets/icons/check-circle.svg');
}

.product-detail__card h2 {
    margin: 8px 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8;
    color: var(--just-white);
}

.product-detail__card p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/*Inicio seccion 3*/
.knowledge {
    width: 100%;
    min-width: 320px;
    height: 387px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/img/bitcoinbaby2x.png');
}

.knowledge h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

/*Inicio seccion 4*/
.payment-plans__title h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);

}

.payment-plans__title p {
    margin: 20px 0 40px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.payment-plans__plans-slider {
    display: flex;
    place-items: center;
    width: 200px;
    height: 300px;
    padding: 0 10px;
    margin: 0 auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

.payment-plans__plans-slider::-webkit-scrollbar {
    height: 2px;
    background-color: transparent;
}

.payment-plans__plans-slider::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--bitcoin-orange);
}

.payment-plans__card {
    position: relative;
    scroll-snap-align: center;
    width: 190px;
    height: 247px;
    margin: 0 5px 0px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.payment-plans__title-card {
    position: absolute;
    top: -15.5px;
    left: calc(50% - 50.5px);
    width: 101px;
    height: 31px;
    padding: 6px;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
}

.title-card--blue {
    background-color: var(--secondary-blue);
}

.title-card--gray {
    background-color: var(--grey);
    color: var(--warm-black);
}

.payment-plans__content {
    padding: 25px 8px 10px;
}

.content__title {
   font-size: 1.4rem; 
   font-weight: 500;
   line-height: 1.8rem;
}

.content__price {
    margin: 10px;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.3rem;
    letter-spacing: -0.08em;
}

.content__price span {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    vertical-align: 25px;
}

.content__saving {
    margin: 15px 0;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #757575;
}

.content__ca {
    width: 151px;
    height: 48px;
    padding: 12px 16px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--warm-black);
    border-radius: 4px;
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--off-white);
}

.payment-plans__content button span {
    display: inline-block;
    width: 20px;
    height: 14px;
    margin-left: 2px;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/icons/orange-right-arrow.svg');
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

footer section ul {
    list-style: none;
}

footer section ul li a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--just-white);
}